:root {
    --primary-light: #ffffff;
    --primary-dark: #000000;
    --black: #000000;
    --white: #efefef;
    --yellow: #ffc201;
    --lightwhite: #d8d2d29d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color: var(--black);
    color: var(--yellow);
}

body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 5px 30px;
    z-index: 999;
    background: var(--primary-dark) !important;
}

.navbar .navbar-nav .nav-item {
    margin:auto 25px;
}
.navbar-toggler{
    color:var(--white) !important;
    border: 2px solid var(--white) !important;
}
.navbar .navbar-nav .nav-item::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--yellow);
    margin: auto;
    transition: .4s;
}
.navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size:18px;
    color:var(--lightwhite);
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active{
    color:var(--yellow);
    font-weight: 600;
    background: var(--black);
}
.navbar .navbar-nav .nav-item .nav-link.active{
    color:var(--yellow);
    font-weight: 600;
    border-bottom: 2px solid var(--yellow);
}
.navbar-brand img{
    height: 85px;
    width: 85px;
}

.navbar .navbar-nav #prof:hover::after{
    width: 0%;
}

.dropdown-menu{
    margin-left:-30px;
}
#prof i{
    padding:10px 12px;
    border-radius:50%;
    font-size:20px;
}

#prof .nav-link.active{
    border: none !important;
}

#prof .nav-link.active i{
    border: 2px solid var(--yellow);
}

#prof{
    display: block;
}

#mobile{
    display: none;
}


footer{
    background: var(--black);
    padding: 15px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px 15px 5px;
}
.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: var(--yellow);
}

.footer-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    text-decoration: none;
    color:var(--yellow);
}
.footer-item i{
    font-size:22px;
    margin-bottom: 0;
}
.footer-item p{
    margin:0;
}
.footer-bottom{
    padding: 10px 0 0 0;
    border-top:1px solid var(--primary-light);
}
.footer-bottom p{
    color: var(--yellow);
    margin: 0;
    text-align: center;
    font-size: 18px;
}
@media(max-width:998px){
    #mobile{
        display: block;
    }
    #prof{
        display: none;
    }

    .navbar .navbar-nav .nav-item {
        margin:0;
    }
    .navbar .navbar-nav .nav-item .nav-link.active{
        border-bottom: none;
    }

    .navbar .navbar-nav .nav-item:hover::after{
        width: 0;
    }
}

@media(max-width:767px){
    .footer-container{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:20px;
    }
    .footer-item{
        width: 100%;
        justify-content: flex-start;
    }
    
}
@media(max-width:650px){
    .navbar{
        padding: 5px 10px;
    }
    .navbar-brand img{
        height: 70px;
        width: 70px;
    }
   

}

